@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Satisfy&display=swap');

body {
  background-color: rgb(250, 235, 215, .3);
}

#root {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 100vh;
}

#title {
  font-family: 'Handlee', cursive;
  font-size: 4rem;
  text-align: center;
  letter-spacing: .5rem;
}

footer {
  position: absolute;
  bottom: 0;
  height: 12vh;
  background-color: rgba(183, 183, 248, 0.329);
  width: inherit;
}